root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{styl,stylus,less,sass,css}]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
# https://yaml.org/spec/1.2.2/#61-indentation-spaces
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
